@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, h1{
    margin:0%;
    font-family: serif;
}


.itens-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #37BFC4;
}


 li{
    float: right;
    padding-top: 8px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #37BFC4;
}
.active {
    background-color: #37BFC4;
    font-size: 10px;
  }
.logo{
    margin-top:50px;
}
.container{
    width: 100%;
}
nav {
    position: relative;
    width: 100%;
    height: 50px;
    background: #37BFC4;
}

#principal {
    width: 100%;
    height: 300px;
    background-color: rgb(198, 237, 250);
    padding-top: 100px;
}
#principal h1{
    color: #37BFC4;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.texto-principal {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.texto-principal span{
    color: #37BFC4;
    text-align: jsutify;
    font-size: 24px;
}
#sobre {
    width: 100%;
    height: 500px;
    background: #37BFC4;
    padding-top: 20px;
    padding-bottom: 20px;
}
#sobre h1{
    text-align: center;
    color: white;  
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#equipe {
    width: 100%;
    height: 600px;
    background-color: #37BFC4;
    padding-top: 20px;
    padding-bottom: 20px;
}
#equipe h1{
    text-align: center;
    color: white;  
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.separador{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.texto-sobre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.texto-sobre span{
    color: white;
    text-align: justify;
}
.lista-sobre-produto{
    margin-top:10px;
    width: 100%;
    background-color: #000;
    margin-left: 13%;
    margin-right: 15%;
    width: 80%;
}
.lista-equipe{
    margin-top:10px;
    margin-bottom: 10px;
    background-color: #000;
    margin-left: 380px;
    margin-right: 50px;
    width: 80%;
}
.card{
    text-align: center;
    width: 25%;
    height: 400px;
    background: white;
    color:black;
    float:left;
    margin-right: 2%;
    padding: 5px;
}

.aviso{
    
}

.card h4{
    text-align: center;
    font-size: 20px;
}
.card span{
    text-align: center;
}

.card i{
    text-align: center;

}

#recursos {
    width: 100%;
    height: 500px;
    background-color: rgb(198, 237, 250);
}

#contato {
    width: 100%;
    height: 500px;
    background-color: rgb(198, 237, 250);
}

.flip-card {
    width: 28%;
    height: 300px;
    background: transparent;
    color:black;
    float:left;
    margin-right: 2%;
    padding: 5px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: #daedf4;
    text-align: center;
    color: #37BFC4;
    transform: rotateY(180deg);
  }
  .flip-card-back h1 {
    text-align: center;
    color: #37BFC4;
    padding-top: 15px;
  }

  .card-contribuidores{
    background: white;
    color:black;
    float:center;
    margin-right: %;
    padding: 10px;
}

.rodape{
    text-align: center;
    color: white;
    padding-top: 40px;
    background-color: #37BFC4;
    height: 100px;
}

@media (max-width: 768px) {
    #principal {
        height: 400px;
    }
}
